@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fef9e3;
  font-family: "Montserrat";
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

table {
  border-collapse: collapse;
  background-color: white;
}

.active {
  cursor: pointer;
}

td {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  font-weight: 400;
  text-align: center;
}

th {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  background-color: #2d2d2d;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #b9b9b9;
}

#main-table th {
  cursor: pointer;
}

.additional-data,
.editing-data {
  width: 600px;
  height: 400px;
  background-color: rgb(198, 248, 252);
  position: fixed;
  top: 150px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 1;
  padding: 3rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.additional-data p,
.editing-data p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: rgb(19, 7, 46);
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.2);
}

.additional-data.active,
.editing-data.active {
  opacity: 1;
  pointer-events: all;
  overflow: auto;
}

.editing-data.active input {
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: inherit;
  padding-left: 20px;
}
.editing-data.active :focus {
  outline: none;
  text-align: center;
}

.editing-data.active button {
  border: none;
  margin: 50px auto;
  width: 200px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: rgb(104, 209, 223);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.additional-data.active i,
.editing-data.active i {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
}

.lastData {
  position: relative;
}

.remove {
  padding: 0.4rem;
  cursor: default;
}

.remove i {
  font-size: 1.22rem;
  cursor: pointer;
}

.edit {
  padding: 5px;
  width: 120px;
}

.tools-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 50px;
}

.tools-table td {
  background-color: white;
  font-size: 1.5rem;
}

.tools-table td {
  cursor: pointer;
}

.hints {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.new-row {
  width: 100px;
  height: 20px;
  text-align: center;
}
